<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="pt-br">
<head th:replace="~{fragments/layout :: head('Editar categoria')}"></head>
<body>
    <div th:replace="~{fragments/layout :: navbar}"></div>

    <h1>Editar categoria</h1>

    <p class="erro" th:if="${erro}" th:text="${erro}"></p>

    <form th:action="@{|/categorias/${categoria.id}|}" th:object="${form}" method="post">
        <label for="nome">Nome</label><br>
        <input type="text" id="nome" th:field="*{nome}" autofocus>
        <p class="validacao" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></p>
        <br><br>
        <button type="submit" class="primary">Salvar</button>
        <a th:href="@{/categorias}">Cancelar</a>
    </form>
</body>
</html>